# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lyo-3g-gameboy-s1p7-09.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
